#payer_get_address {
    clear:both;
    display:block;
}
.payer_instant_checkout {
    cursor: pointer;
}
.payer_instant_checkout img {
    margin-top:5px;
    margin-bottom:0;        
}

.site-header-cart .payer_instant_checkout {
    padding-left: 1.41575em;
    padding-right: 1.41575em;
}

.payment_method_payer_card_payment img, 
.payment_method_payer_bank_payment img, 
.payment_method_payer_invoice_payment img,
.payment_method_payer_installment_payment img,
.payment_method_payer_swish_payment img,
.payment_method_payer_einvoice_payment img,
.payment_method_payer_direct_invoice_gateway img,
.payment_method_payer_masterpass img {
    max-height: 2.5em !important;
    vertical-align: middle;
    display: inline;
    margin: 0 10px;
    float: right !important;
}

@media only screen and (max-width : 440px) {
    .payment_method_payer_card_payment img, 
    .payment_method_payer_bank_payment img, 
    .payment_method_payer_invoice_payment img,
    .payment_method_payer_installment_payment img,
    .payment_method_payer_swish_payment img,
    .payment_method_payer_einvoice_payment img,
    .payment_method_payer_direct_invoice_gateway img,
    .payment_method_payer_masterpass img {
        max-height: 1.5em !important;
    }    
}

.payer_get_address_button{
    position: relative;
}

#payer-get-address-response{
    margin-top:10px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .payer_spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
  }