#billing_pno_field, #billing_postcode_field {
    max-width:50%;
    display:inline-block;
}
#billing_postcode_field {
    padding-right:10px;
}
#payer_get_address {
    clear:both;
    display:block;
}
.payer_instant_checkout {
    cursor: pointer;
}
.payer_instant_checkout img {
    margin-top:5px;
}